@import url("https://fonts.google.com/specimen/Montserrat");


/*Desktop */
@media(max-width:1440px){flex-direction:row;}
/*Phones*/
@media(max-width:375px){flex-direction:column;}
    body{background-color:hsl(33, 27%, 76%);}

.container{display:flex;
    flex-wrap: wrap;
align-items:center;
justify-content: center;
height:350px;
width: auto;
padding: 100px;
margin: auto;}
.child2{background-color: #ffffff;
    width:350px;
    padding: 40px;
     border-radius:0px 10px 10px 0px;
     height:400px;
}
h3{font-family: Montserrat;}
.gab{font-size: 20px;
font-weight: bolder;}
.price{color:hsl(158, 36%, 37%);
font-size: 30px;
font-weight: bolder;
display: inline;}
.note,h3{color:hsl(228, 12%, 48%);}
input{border: 1px solid hsl(158, 42%, 18%);
margin: 10px;
padding: 10px;
width: fit-content;}
img{height:478px;width:427px; border-radius:10px 0px 0px 10px;}
button{background-color:  hsl(158, 42%, 18%);
color:#ffffff; 
padding:20px;
border-radius: 10px;
width:290px;
align-content: center;}
.price del{font-size: 14px;}